<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->
			Filter: <input ng-model="query">

		</div>
		<div class="span8">
			<div align="center">
				<table border="1" styleClass="pretty" width="500">
					<tr>
						<td colspan='5'>Employees</td>
					</tr>
					<tr>
						<td>ID</td>
						<td>Last Name</td>
						<td>First Name</td>
						<td></td>
						<td></td>
					</tr>
					<tr ng-repeat="employee in employees | filter:query">
						<td>{{employee.id}}</td>
						<td>{{employee.lastName}}</td>
						<td>{{employee.firstName}}</td>
						<td><a href="#/employee/{{employee.id}}">Edit</a></td>
						<td>Delete</td>
					</tr>
				</table>
			</div>
		</div>
	</div>