/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,body {
	font-size: 1em;
	line-height: 1.4;
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	margin: 0;
	padding: 0;
	height: 100%;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
.wrapper {
	width: 90%;
	margin: 0 5%;
}

/* ===================
    ALL: EclipseLink Theme
   =================== */
#body-container {
	min-height: 100%;
	position: relative;
}

#header-container {
	border-bottom: 20px solid #003366;
	padding: : 10px;
	background: #330066;
}

#footer-container,.main aside div {
	border-top: 20px;
}

#main-container {
	padding: 10px;
	padding-bottom: 12em; /* Height of the footer */
}

#footer-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 12em; /* Height of the footer */
	background: #330066;
}

#footer-container footer {
	color: white;
	padding: 5px 0 0 20px;
	position: fixed;
	text-indent: 5px;
	overflow: hidden;
}

.title {
	color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: white;
	background: #003366;
}

nav a:hover,nav a:visited {
	color: white;
}

nav a:hover {
	text-decoration: underline;
}

.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	padding: 10px 10px 10px 10px;
}

.main aside img {
	width: 100%;
	padding: 4px 0px 4px 0;
	border: 0;
}

.main aside p {
	margin: 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
	padding-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) { /* ====================
    INTERMEDIATE: Menu
   ==================== */
	nav a {
		float: left;
		width: 27%;
		margin: 0 1.7%;
		padding: 25px 2%;
		margin-bottom: 0;
	}
	nav li:first-child a {
		margin-left: 0;
	}
	nav li:last-child a {
		margin-right: 0;
	}

	/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
	nav ul li {
		display: inline;
	}
	.oldie nav a {
		margin: 0 0.7%;
	}
}

@media only screen and (min-width: 768px) { /* ====================
    WIDE: CSS3 Effects
   ==================== */
	.header-container,.main aside {
		-webkit-box-shadow: 2px 5px 10px #aaa;
		-moz-box-shadow: 2px 5px 10px #aaa;
		box-shadow: 2px 5px 10px #aaa;
	}

	/* ============
    WIDE: Menu
   ============ */
	.title {
		float: left;
	}
	nav {
		float: right;
		width: 38%;
	}

	/* ============
    WIDE: Main
   ============ */
	.main article {
		float: left;
		width: 57%;
	}
	.main aside {
		float: right;
		width: 28%;
	}
}

@media only screen and (min-width: 1140px) { /* ===============
    Maximal Width
   =============== */
	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}